<div class="column is-half is-offset-one-quarter">

  <h2 class="title">Sign up</h2>

  <%= form_for(resource, :html => {:class => "box"}, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, :class => "label" %>
        <div class="control">
          <%= f.text_field :name, :class => "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :country, :class => "label" %>
        <div class="control">
          <%= f.text_field :country, :class => "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :age, :class => "label" %>
        <div class="control">
          <%= f.number_field :age, min: 13, max: 118, :class => "input"  %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, :class => "label" %>
        <div class="control">
          <%= f.email_field :email, :class => "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, :class => "label" %>
        <div class="control">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, :class => "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, :class => "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, :class => "input" %>
        </div>
      </div>

      <%= f.submit "Sign up", :class => "button is-primary" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>