<%= form_with model: @comment, url: post_comments_path(@post), method: "post", post_id: @post do |f| %>
  <p><%= f.label "Comment" %>
  <%= f.text_field :body %></p>
  
  <p>You: <%= current_user.name %></p>

  <%= f.submit "Send" %>
<% end %>