<% if @users.empty? %>
  No users yet.
<% else %>
  <% @users.each do |user| %>
    <hr>
    <p>ID: <%= user.id %></p>
    <p>Name: <%= user.name %></p>
    <p>Country: <%= user.country %></p>
    <p>Age: <%= user.age %></p>
    <p>Email: <%= user.email %></p>
  <% end %>
<% end %>
