<div class="columns">
  <div class="column is-2"></div>
  <div class="column">
    <h1 class="title"><%= @user.name %>'s Profile Page</h1>

    <%= image_tag user_avatar(@user, 300) %>

    <p>Country: <%= @user.country %></p>
    <p>Age: <%= @user.age %></p>
    <p>Email: <%= @user.email %></p>

    <br>
    <% if @user.posts.empty? %>
      <strong>No posts yet.</strong>
    <% else %>
      <strong>RECENT POSTS:</strong>
      <% @user.posts.each do |post| %>
        <hr>
        <p>POST ID: <%= post.id %></p>
        <p>Content: <%= post.content %></p>
        <p>Author: <%= post.user.name %></p>
        <%= link_to post_path(post) do %>
          <p>Date: <%= post.created_at %></p>
        <% end %>
        <p>❤: <%= post.passive_likes.count %></p>
        <% if post.passive_likes.where(liker_id: current_user).exists? %>
          <%= link_to "Remove Like", post_like_path(post), method: :delete %>
        <% else %>
        <p><%= link_to "Like", post_likes_path(id: post), method: :post %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>