<div class="column is-one-fifth"></div>
<div class="column is-half">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <%= image_tag user_avatar(@post.user), :class => "avatar_image" %>
      </figure>
    </div>

    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @post.user.name %></strong>
        </p>
        <p><%= @post.content %></p>
        <p><%= @post.created_at %></p>
      </div>
    </div>
  </article>

  <p class="subtitle is-6">Comments:</p>
  <%= render "comments/feed" %>
  <%= render "comments/form" %>
</div>